.logo{
    height: 30px;
}
body{
    background: #eceded;
}
.main{
    background: #ffffff;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    /*padding: 10px;*/
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

