{% extends 'base.html' %}
{% block title %}编辑文章{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/question.css') }}">
    <script src="{{ url_for('static', filename='tinymce/js/tinymce/tinymce.js') }}"></script>
    <script src="{{ url_for('static', filename='tinymce/js/tinymce/jquery.tinymce.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tinymce_setup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.form.js') }}"></script>
{% endblock %}
{% block main %}
    <h2 class="question_h">修改文章</h2>
    <div class="question">
            <form action="" method="post">

                <div class="form-group">
                    <input type="text" class="form-control" name="title" value="{{ question.title }}">
                </div>
                <div class="form-group">
                    <textarea name="content" id="" cols="30" rows="10">{{ question.content | safe }}</textarea>
{#                      <input class="editor" name="content" id="content" placeholder="请输入内容">#}
                </div>
                <div class="form-group">
                <button type="submit" class="btn btn-primary">提交修改</button>
                </div>
            </form>
    </div>
{% endblock %}